<!-- Meta -->
<meta charset="UTF-8">
<meta name="description" content="Theo's Website">
<meta name="keywords" content="Website,About Me,Blog">
<meta name="author" content="Theo Paris">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="Theo's Website">
<meta property="og:image" content="/assets/creepinson.png">
<meta property="og:description" content="Theo's website and blog made with EJS, CSS, Typescript, and MongoDB from scratch.">
<meta property="og:url" content="https://creepinson.xyz/" />
<!-- Scripts -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/index.css">
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script src="/js/index.js"></script>