body {
    background-color: #333333;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand {
    padding-top: 25px;
}


/* Header */

header {
    z-index: 1;
    background-color: #0099cc;
    color: #ffffff;
    overflow: hidden;
    background-size: cover;
    /* margin-bottom: 20px; */
    top: 0;
    left: 0;
    position: relative;
    height: auto;
    min-height: 120px;
    /* position: fixed;  */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: #ff3300 5px solid;
}

main {
    padding-top: 20px;
}

#posts-container .card-body {
    background-color: #4d4d4d;
}

#posts-container a {
    color: #48e5c2;
    font-weight: bold;
}

#posts-container a:hover {
    color: #ff3300;
    font-weight: bold;
}



#posts-container .card-subtitle {
    color: rgb(206, 204, 204);
}

#dashboard {
    text-align: center;
}

#welcome {
    margin-bottom: 50px;
}

#about-me {
    text-align: center;
    position: relative;
    height: auto;
    /* Flex  */
    display: flex;
    justify-content: center;
}

#about-me p {
    max-width: 400px;
    display: inline-block;
}

#cody {
    height: auto;
    width: 175px;
}

#theo {
    height: auto;
    width: 175px;
    /* float: left; */
}

header nav ul a {
    color: #cc00cc;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.navlink {
    margin-bottom: 10px;
}

header nav ul a:hover {
    color: #660066;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22.5px;
    font-weight: bold;
}

header nav ul a:active {
    color: #000066;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22.5px;
    font-weight: bold;
}

header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header li {
    padding: 0 20px 0 20px;
    /* border-right: 4px solid #ffffff; */
    text-align: center;
    list-style-type: none;
}

#branding a {
    position: relative;
}

#branding a h1 {
    color: #cc00cc;
    font-weight: bold;
    text-align: center;
    font-size: 38px;
}

header nav {
    padding-right: 15px;
    position: relative;
}

.navbar-toggler {
    margin-bottom: 15px;
    width: 100%;
}

#services {
    float: right;
    padding-top: 25px;
}

#services h1 {
    float: center;
    text-align: center;
    color: black;
    font-weight: bolder;
    position: relative;
    top: 10%;
    font-size: 18px;
}

.service ul {
    list-style-type: none;
}

.service {
    float: center;
    color: white;
    padding: 10px;
    position: relative;
    width: 100vw;
    height: 100%;
    text-align: center;
    background-color: #0099cc;
    border: 2px #fff solid;
}

.service p {
    float: center;
    color: white;
    position: relative;
    top: 10%;
    font-size: 14px;
}

.service h2 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: black;
    position: relative;
}

.service a {
    color: #000000;
    text-align: center;
    float: center;
    position: relative;
}

.service a:hover {
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
    text-align: left;
    float: center;
    position: relative;
}

#boxes .box a {
    font-size: 14px;
    font-weight: bold;
    color: #48e5c2;
    text-align: center;
    float: center;
    position: relative;
}

#boxes .box a:hover {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    float: center;
    position: relative;
}


/*Music*/

#soundcloud-link {
    font-weight: semi-bold;
}

.workinprogress-section {
    background-color: #ffae00;
    float: right;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 60%;
    width: 60%;
    height: 300px;
    border: 2px #fff solid;
}

.workinprogress-section h2 {
    font-size: 30px;
    font-weight: bold;
    color: #ff3801;
}

.workinprogress-section h1 {
    font-size: 38px;
    font-weight: bold;
    color: #fff;
}

.workinprogress-section a {
    font-size: 20px;
    font-weight: normal;
    color: #ff3801;
}

.workinprogress-section a:hover {
    font-size: 24px;
    font-weight: normal;
    color: #ff3801;
}

#music {
    float: right;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 60%;
    width: 60%;
    height: 300px;
    background-color: #0099cc;
    border: 2px #fff solid;
}

#music h1 {
    font-size: 38px;
    font-weight: bold;
    color: #fff;
}

#music h2 {
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    position: relative;
}

#music a {
    font-size: 20px;
    font-weight: normal;
    color: #ffca37;
    text-align: center;
    float: center;
    position: relative;
}

.blue {
    padding: 15px;
    background: #0099cc;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navlink {
    display: inline;
}

#featuredbox {
    color: #ffffff;
}


/* showcase */

.showcase-banner {
    height: 400px;
    top: 0;
    width: 100%;
    position: relative;
    background-image: url("../../assets/banner_2020_transparent.png");
    background-repeat: no-repeat;
    background-size: 1280px 720px;
    background-attachment: scroll;
    background-position: center center;
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
}

#showcase {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#showcase h1 {
    font-size: 55px;
    margin-top: 10px;
    padding-top: 1440 / vh;
}

#showcase p {
    font-size: 20px;
    width: 50%;
    text-align: center;
}

#boxes {
    position: relative;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-basis: 30%;
    height: 200px;
    margin-right: auto;
    padding: 10px;
}

#boxes .box p {
    font-size: 14px;
}

#boxes .box img {
    width: 90px;
}

aside#sidebar {
    float: right;
    width: 50%;
    margin-top: 10px;
}

article#main-col {
    float: left;
    font-size: 18px;
    position: absolute;
    top: 30%;
    width: 50%;
    height: 20%;
}

#page-title {
    font-size: 22px;
}

article#main-col p {
    font-size: 18px;
}

footer {
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    bottom: 0;
    left: 0;
    position: relative;
    background-color: #0099cc;
    height: 50px;
    width: 100%;
}

footer p {
    text-align: center;
    color: #ffffff;
    position: relative;
    margin-bottom: 10px;
    display: flex;
}

#music a:hover {
    font-size: 24px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    float: center;
    position: relative;
}

.wrap {
    white-space: initial;
    word-wrap: break-word;
    clear: both;
    overflow: hidden;
}


/* Mobile Screens */

@media only screen and (max-width: 768px) {
    #theo {
        width: 125px;
    }
    #cody {
        width: 125px;
    }
}